<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %d %-5p [%t] %-30c - %m%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>
    <Loggers>
        <AsyncLogger name="se.skltp.takcache" level="INFO"/>

        <AsyncRoot level="info">
            <AppenderRef ref="Console"/>
        </AsyncRoot>

    </Loggers>
</Configuration>